  <h1>Bienvenido Maraton de Preguntas!</h1>
 
   
    <div>ººººººººººººººººººººººººººº TUS RESPUESTAS FUERON ººººººººººººººººººººººººººº</div>
    <ul>
     <li><a href="/menudeck" ><button id="sesion" type="button">Jugar</button></a></li> 
     <li><a href="/logout" ><button id="sesion" type="button">Salir</button></a></li>
   </ul>
    <h4> Usuario: <span><%= @user %></span></h4>
    <h4> Numero de Juego: <span><%= @answer_game.id %></span></h4>
    <p><h4>Respuestas Buenas <span><%= @count_good %></p></span></h4>
    <p><h4>Respuestas Malas <span><%= @count_bad %></p></span></h4>
      

   
   
   
    
   
  
  
    
    
   
 
