  <h1>Bienvenido Maraton de Preguntas!</h1>
 
    <div>
    <div>ººººººººººººººººººººººººººº ELIGE UNA CATEGORIA ººººººººººººººººººººººººººº</div>
    <hr/>
    <ul>
    <% @decks.each do |deck|%>
    <% deck.id %>
    <li> <a href="/show_deck/<%= deck.id %>" ><%= deck.name %></a> </li>
   
    <%end%>
    </ul>
    </div>

  